@mixin fonts($family, $file, $style, $weight) {
  @font-face {
    font-family: $family;
    src:  url('/webfonts/#{$file}.woff2') format('woff2'), url('/webfonts/#{$file}.woff') format('woff');
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

@mixin v-fonts($family, $file, $style) {
  @font-face {
    font-family: $family;
    src: url('/webfonts/#{$file}.woff2') format('woff2');
    font-style: $style;
  }
}

@include fonts(Source Sans, SourceSansPro-Regular, normal, normal);
@include fonts(Source Sans, SourceSansPro-It, italic, normal);
@include fonts(Source Sans, SourceSansPro-Bold, normal, bold);
@include fonts(Source Sans, SourceSansPro-BoldItalic, italic, bold);
@include fonts(Source Code, SourceCodePro-Regular, normal, normal);
@include fonts(Source Code, SourceCodePro-Regular, italic, normal);
@include fonts(Source Code, SourceCodePro-Bold, normal, bold);
@include fonts(Source Code, SourceCodePro-Bold, italic, bold);

@include v-fonts(Source Sans VF, "SourceSansVariable-Roman", normal);
@include v-fonts(Source Sans VF, "SourceSansVariable-Italic", italic);
