@mixin fonts($family, $file, $style, $weight) {
  @font-face {
    font-family: $family;
    src:  url('/webfonts/#{$file}.woff2') format('woff2'), url('/webfonts/#{$file}.woff') format('woff');
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

@mixin v-fonts($family, $file, $style) {
  @font-face {
    font-family: $family;
    src: url('/webfonts/#{$file}.ttf') format('truetype');
    font-style: $style;
  }
}

@include fonts(Mono, mono-regular, normal, normal);
@include fonts(Mono, mono-italic, italic, normal);
@include fonts(Mono, mono-bold, normal, bold);
@include fonts(Mono, mono-bold-italic, italic, bold);

@include fonts(WorkSans, work-sans-regular, normal, normal);
@include fonts(WorkSans, work-sans-italic, italic, normal);
@include fonts(WorkSans, work-sans-bold, normal, bold);
@include fonts(WorkSans, work-sans-bold-italic, italic, bold);

@include v-fonts(MonoV, mono-v, normal);
@include v-fonts(MonoV, mono-v-italic, italic);

@include v-fonts(WorkSansV, work-sans-v, normal);
@include v-fonts(WorkSansV, work-sans-v-italic, italic);
