$vf-options: (
  light: (
    wght: 200
  ),
  normal: (
    wght: 375
  ),
  semibold: (
    wght: 650
  ),
  bold: (
    wght: 900
  )
);

@function vf($weight: normal) {
  @if not map-has-key($vf-options, $weight) {
    @warn 'The `vf()` mixin requires a valid `$weight`.';
  } @else {
    $vf-settings: map-get($vf-options, $weight);
    $output: ();

    @each $label, $value in $vf-settings {
      $output: append($output, quote($label) $value, comma);
    }

    @if $output {
      @return $output;
    }
  }

  @return null;
}
